/*  Programmweites style sheet */
.root {
}

/*================================================*/
/*================================================*/

/* ist die ComboBox mit den Filterprofilen: markiert wenn das Profil aktiv ist*/
.markFilterSelected > .list-cell{
    -fx-underline: true;
}

.extra-pane-filter {
    -fx-background-color: -style-extra-pane-color;
    -fx-border-width: 1 0 0 0; /* makes really one-pixel-border */
    -fx-border-color: #939a9f;
}

