
/*SmallGui*/

/*ist der ganze Dialog*/
.smallGui{
    -fx-background-color: #3e3e3e, #004a6c, #578cce, #f1f1f1;
    -fx-background-insets: 0, 2, 10, 13;
    -fx-background-radius: 0, 2, 20, 20;
}


/* Button zum Ausschalten */
.switchOffBtn{
    -fx-padding: 2;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.switchOffBtn:focused{
    -fx-padding: 2;
    -fx-border-width: 1px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.switchOffBtn:hover{
    -fx-padding: 1;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.switchOffBtn:focused:hover{
    -fx-padding: 1;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
 }
.switchOffBtn:pressed:focused:hover{
    -fx-padding: 0;
    -fx-border-width: 3px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}


/* Button zum Umschalte */
.changeGuiBtn{
    -fx-padding: 2;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.changeGuiBtn:focused{
    -fx-padding: 2;
    -fx-border-width: 1px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.changeGuiBtn:hover{
    -fx-padding: 1;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.changeGuiBtn:focused:hover{
    -fx-padding: 1;
    -fx-border-width: 2px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
.changeGuiBtn:pressed:focused:hover{
    -fx-padding: 0;
    -fx-border-width: 3px;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}
